html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-content: stretch;
  text-align: center;
  height: 100vh;
}

.left {
 width: 20%;
 justify-content: flex-start;
 background-color: azure;
 color: powderblue;

}

.middle {
  width: 60%;
  justify-content: center;
  background-color: powderblue;
  color: azure;
  font-size: 5vh;
}

.right {
  width: 20%;
  justify-content: flex-start;
  background-color: azure;
  color: powderblue;
}

.game-buttons {
  flex-direction: column;
}
